@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  color: whitesmoke;
  
}

.myFlow .react-flow__pane, .myFlow .react-flow__pane.dragging {
  cursor: move;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #22c55e; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #262626; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #5a5a5a #262626;
}

@keyframes blink {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}
